.App{
  background: url('https://t4.ftcdn.net/jpg/06/81/72/55/360_F_681725529_8BCKQWToEgRajmFp9qG1sWqAQivie05X.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}